html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Tangerine';
    font-weight: bolder;
    font-size: 65px;
    font-family: 'Tangerine', cursive;
}

h4 {
    display: inline;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5); 
}

.deck .card.open {
    transform: rotateY(0) !important;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation: shake 0.5s;
}

.deck .card.unmatch {
    cursor: default;
    background :tomato;
    font-size: 33px;
    animation: shake 0.4s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    float: left;
    text-align: left;
    width: 550px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Tangerine', cursive;
}

.score-panel .stars {
    margin: 0;
    padding-right: 15px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .moves {
    padding-right: 0px;
    font-weight:300; 
}

.score-panel span {
    width: 40px;
}
.score-panel #seconds{
    padding-right: 10px;
}


.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-right: 75px;
    margin-left: 8px;
    font-weight:180;
    font-family: 'Times New Roman', Times, serif;
}


.score-panel button {
    margin-left: 25px;
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.score-panel button:hover{
    color: white;
    background-color: teal;
}

.score-panel button:focus{
    color: white;
    background-color: cadetblue;
}

.score-panel .modal{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
}


/* Win Msg  */
.winMsg {
    display: inherit;
    position: absolute;
    z-index: 2;
    padding-top: 300px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 300px; 
    font-size: 5em;
    text-align: center;
    list-style-type: none; 
    display: flex;
    background-color: white;
    opacity: 0.8;
    display: none;
}

.restartGame {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; 
    background-color: black;
}
/* Footer */

footer {
    border-top: 1px solid #7d97ad;
    margin: 2px auto 2px auto;
    padding-bottom: 0.5px;
    width: 99%;
    color: #2d3c49;
    position: relative;
    clear: both;
    border-radius: 5px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  }
  
  footer p {
    text-align: center;
  }
  

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }